@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

/*font-family: 'Orbitron', sans-serif;*/

body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  --color1: rgb(0, 0, 0);
  --color2: rgb(0, 195, 255);
  --color3: rgb(0, 255, 38);
  --color4: rgb(154, 38, 38);
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
